.center {
  text-align:center;
}
.hfont {
font-family: 'Ubuntu', sans-serif;
font-size: 65px;
}
.brek {
  width: 100px
  height: 5px;
  background-color: #333333;
  color: #333333;
}
.embed-container {
position: relative;
padding-bottom: 56.25%;
height: 0;
overflow: hidden;
max-width: 100%;
height: auto;
} .embed-container iframe, .embed-container object, .embed-container embed {
position: absolute; top: 0;
left: 0;
width: 100%;
height: 100%; }
.bigb {
  color:#333333;
  text-decoration: none;
  border: 3px solid;
padding-top: 20px;
padding-bottom:20px;
font-size: 45px;
padding-left: 20px;
padding-right: 20px;

}
.bigb:hover {
  color:#fff;
  text-decoration: none;
  border: 3px solid;
padding-top: 20px;
padding-bottom:20px;
font-size: 45px;
background-color: #000;
}
.nod {
  color:#333333;
  text-decoration: none;

}
.nod:hover {
  color:#333333;
  text-decoration: none;
}
.dotline {
    border-bottom: dotted 1px;
    text-decoration: none;
    color: #000;
    font-size: 40px;
  }
  .dotline:hover {
    border:dotted 1px;
    text-decoration: none;
    color: #000;
  }
  .foo {
    height: 30px;
    width: 100%;
    background-color: #333333;
    color: #fff;
    position: absolute;
    bottom: 0;
  }
.emai {
  width: 65%;
  height: 80px;
  background-color: #34495e;
  border: 4px;
  border-color: #ecf0f1;
  font-size: 35px;
  text-align: center;
  color:#ecf0f1;
}
.ftt {
  width: 100%;
  height: 200px;
  background-color: #fbf9f8;
}
.relative {
  position: relative;
}
.squ {
  height: 80px;
  width:80px;
}
.blo {
  display: inline-block;
}
